<ul class="card-attrs">
  <li>
    <strong><%= card.escape('front') %></strong>
  </li>
  <% if ( card.get('image') && card.get('image') !== "/images/original/missing.png") { %>
    <% console.log(card.get('image')) %>
    <li>
      <img src="<%= card.get('image') %>" alt="" />
    </li>
  <% } %>
  <li>
      <% if (typeof card.get('back') === "object") { %>
        <% for (var attr in card.get('back')) { %>
          <strong><%= attr %>: <%= card.get('back')[attr] %></strong>
          <% } %>
      <% } else { %>
        <strong><%= card.escape('back') %></strong>
      <% } %>
  </li>
  <% if (card.get('averageScore')) { %>
    <li>
      <strong>Correct <%= card.get('averageScore') %>% of the time</strong>
    </li>
  <% } %>
  <li>
    <button class="delete-card">Delete</button>
  </li>
  <li>
    <button class="edit-card">Edit</button>
  </li>
</ul>
