<ul class="card-attrs">
  <% console.log(choices) %>
  <li>
    <%= card.escape('front') %>
  </li>
  <% if (card.get('format') === 'boolean') { %>
    <label for="true">True</label>
    <input id="true" type="radio" name="response_text" value="true">
    <label for="false">False</label>
    <input id="false" type="radio" name="response_text" value="false">
  <% } else if (card.get('format') === 'field') { %>
    <% for (var attr in card.get('back')) { %>
      <label for="<%= attr %>"><%= attr %></label>
      <input class="<%= attr %>" type="text" name="response_text" value="">
    <% } %>
  <% } else if (card.get('format') === 'choice') { %>
    <% for (var i = 0; i < choices.length; i++) { %>
      <label for="<%= choices[i].escape('back') %>"><%= choices[i].escape('back') %></label>
      <input id="<%= choices[i].escape('back') %>" type="radio" name="<%= card.id %>_response" value="<%= choices[i].escape('back') %>">
    <% } %>
  <% } else { %>
    <textarea name="response_text"></textarea>
  <% } %>
</ul>
