<label for="title">Title <%=": " + deck.errors('title') && deck.errors('title') %></label>
<input
id="title"
type="text"
name="title"
value="<%= deck.escape('title') %>">
<label for="description">Description</label>
<input id="description" type="text" name="description" value="<%= deck.escape('description') %>">
<select name="course_id">
  <option>None</option>
  <% courses.each(function (course) { %>
    <option value="<%= course.id %>" <%= deck.get('course_id') === course.id && "selected" %>>
      <%= course.escape('course_code') %>: <%= course.escape('title') %>
    </option>
  <% }); %>
</select>
<ul class="cards-preview">
</ul>
<button>Submit</button>
<button class="new-card">Add Card</button>
