<nav class="deck-navbar group">
  <% if (typeof deck.progress() === "number") { %>
    <a href="<%= deck.linkUrl('tests')%>">Performance: <%= deck.progress() %>%</a>
  <% } %>
    <a href="<%= deck.linkUrl('study') %>" class="study">Study</a>
    <a href="<%= deck.linkUrl('review') %>" class="review">Review</a>
    <a href="<%= deck.linkUrl('test') %>" class="test">Test</a>
    <a class="new" href="#">Add Card</a>
    <a class="import" href="#">Import Cards</a>
    <a class="delete" href="#">Delete</a>
</nav>

<ul class="cards">
<div class="info">
  <a class="nav-link" href="#/courses/<%= deck.course().id %>"><%= deck.course().escape('title') %></a>
  <h1><%= deck.escape('title') %></h1>
  <h2><%= deck.escape('description') %></h2>
</div>
</ul>
