<table>
  <caption>
    <% if (response.card.escape('image')) { %>
      <img src="<%= response.card.escape('image') %>" alt="" />
    <% } else { %>
      <%= response.card.escape('front') %>
    <% } %>
  </caption>
  <tr>
    <th>
      Your Answer
    </th>
    <th>
      Correct Answer
    </th>
  </tr>
  <tr>
    <td class="<%= response.get('result') ? 'correct' : 'incorrect' %>">
      <% if (response.card.escape('format') === "field") { %>
        <ul class="fields">
          <% var i = 0 %>
          <% for (attr in response.card.get('back')) { %>
            <li class="field"><%= attr %>: <%= JSON.parse(response.get('response_text'))[i] %></li>
            <% i++ %>
          <% } %>
        </ul>
        <% } else { %>
          <%= response.escape('response_text') %>
        <% } %>
    </td>
    <td class="correct">
      <% if (response.card.escape('format') === "field") { %>
        <ul class="fields">
          <% for (attr in response.card.get('back')) { %>
            <li class="field"><%= attr %>: <%= response.card.get('back')[attr] %></li>
          <% } %>
        </ul>
      <% } else { %>
        <%= response.card.escape('back') %>
      <% } %>
    </td>
  </tr>
</table>
