<h1>My Decks</h1>

<ul>
  <% @decks.each do |deck| %>
    <li>
      <a href="<%= deck_url(deck) %>"><%= deck.title %></a>
      <form action="<%= deck_url(deck) %>" method="post">
        <%= token_tag form_authenticity_token %>
        <%= hidden_field_tag("_method", "DELETE") %>
        <button name="button">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="<%= new_deck_url %>">Add Deck</a>
